language: node_js
node_js:
  - "8"

branches:
  only:
    - main
    - dev

script:
 - echo "Initializing Firebase Web Hosting Deployement!"

install:
  - npm install -g firebase-tools

after_success:
  - firebase deploy --project $DEPLOY_TARGET --token $FIREBASE_TOKEN
